{% extends 'base.html' %}

{% load static %}

{% block title %}
Project Detail
{% endblock title %}
{% block content %}

<main>
    <div>
        <h1>{{ project_details.name }}</h1>
        <p></p>
        <h2>Tasks</h2>
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>
        {% if project_details.tasks.all|length != 0 %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for detail in project_details.tasks.all %}
                <tr>
                    <td>{{ detail.name }}</td>
                    <td>{{ detail.assignee }}</td>
                    <td>{{ detail.start_date }}</td>
                    <td>{{ detail.due_date }}</td>
                    <td>{{ detail|yesno }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>This project has no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock content %}